.lighttheme{
  background-color: white;
  color: black;
}
.darktheme{
  background-color: black;
  color: white;
}
.title{
  font-size:20px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  color: #aeaeae;
  width: 150px;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: steelblue;
}
input{
  border: none;
  outline: none;
  background-color: #2e2e2e;
  padding: 15px 20px;
  border-radius: 10px;
  margin: 20px 0;
  color: #fff;
  font-size: 14px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.symbol{
  font-size: 70px;
  line-height: 100px;

}
.bg-setting{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.para{
  width: 300px;
  color: #333;
  text-transform: capitalize;
}
.nav{
  background-color: slategray;
  width: 100%;
}
::selection{
  color: #2ec72e;
  background-color: #2e2e2e;
}
.blogs{
  width: 400px;
  overflow: hidden;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border-radius: 12px;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 5px 30px -5px rgba(0,0,0,0.5);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.blogs img{
  width: 400px;
  height: 350px;
  border-radius: 12px 12px 0 0;
  -webkit-border-radius: 12px 12px 0 0;
  -moz-border-radius: 12px 12px 0 0;
  -ms-border-radius: 12px 12px 0 0;
  -o-border-radius: 12px 12px 0 0;
}
.bloe{
  width:100%;
  gap: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.blogs h4{
  padding: 10px 20px;
  height: 30px;
  overflow: hidden;
}
.blogs h5{
  padding:20px;
  font-weight: 200;
  line-height: 20px;
}
.inputt{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #2e2e2e;
  margin-bottom: 20px;
}
.inputt button{
  background-color: #2ec72e;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 12px;
  border: none;
  outline: none;
  margin-left: 20px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}