*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.heading{
    font-size: 170%;
    margin-top:20px;
    color: rgb(177, 44, 44);
    text-align: center;

}
.btn-primary{
    padding: 10px 20px;
    border-radius: 8px;
    color: burlywood;
    background-color: black;
    border: 1px solid white;
    margin: 50px;
    outline: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.images{
    width: 80%;
    margin: 0 auto;
}